*{
    font-family: 'Courier New', Courier, monospace;
    margin:0;
    padding:0;
}
/* Header + general page layout */
header{
    margin: 0;
    padding: 0px 0;
    width: 100%;
    background-color: rgb(84, 79, 72);
    font-size: large;
    display: flex;
    flex: auto;
    flex-direction: row;
    align-items: center;
}
.navbar{
    font-size: large;
    display: flex;
    flex: auto;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin:20px;
}
.nav-block{
    display: block;
}
ul{
    margin:0;
    padding:0;
    overflow:hidden;
    list-style: none;
}
li{
    margin:10px;
    float: left;
    justify-content: left;
    margin:18px 0 18px 14px;
    padding-right:40px;
}
.seperator{
    border-color:black;
    border-right-style: solid;
    padding-right:40px;
}

.top{
    display: flex;
    flex: auto;
    flex-direction: row;
    justify-self: center;
    align-items: center;
}
.search-bar{
    display: flex;
    flex: auto;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height:30px;
    width: 100%;
    background-color: rgb(84, 79, 72); 
    position: sticky;
    top:0;
    z-index: 10;
}

.cat{
    height:150px;
    width: 150px;
    display: flex;
}

a:link{
    color:antiquewhite
}
a:visited{
    color: antiquewhite;
}
.return {
    width: 50px;
    padding:10px;
    margin:5px;
    text-align: center;
    border: 2px solid rgba(0, 0, 0, 0.5);
    box-shadow: 4px 4px 20px black;
    border-radius: 20px;
    background-color: white;
    right:5px;
    bottom:10px;
    position:fixed;
    z-index: 999;
}
.return img{
    height: 100%;
    width:100%;
}
.page{
    margin-left: 40px;
    margin-right: 40px;
    box-shadow: 4px 4px 20px black;
    height:fit-content;
    display: flex;
    flex-direction: column;
    
}
footer{
    background-color: rgb(84, 79, 72);
    text-align: center;
    width:100%;
    position: fixed;
    bottom:0;
}
/*Index page work */
.latest{
    margin-left: 40px;
    margin-right: 40px;
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    
}
.latest h3{
    font-size:xx-large;
}
.container{
    flex-direction: row;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    flex-wrap: wrap;
}
.main-story{
    width:500px;
    height:350px;
    display: flex;
    margin-bottom: 40px;
}
.story{
    background-color: rgb(210, 218, 218);
    color: black;
    text-decoration: none;
    word-wrap: break-word;
    border-style: solid;
    border-color: black;
    box-shadow: 4px 4px 20px black;
}
.story-head{
    font-size:large;
    word-wrap: break-word;
}
.story:hover{
    transform: scale(1.1);
    z-index: 5;
}
.story-text{
    width: fit-content;
    height: fit-content;
    white-space: pre-line;
    overflow: hidden;
}
.side{
    margin-bottom: 20px;
}
/*Article page */
.story-image{
    height:400px;
}
/*Contact us page */
.contact-us-page{
    display: flex;
    flex-direction: column;
}
.contact-us-page h3{
    font-size: xx-large;
    margin-top: 40px;
    margin-left:30px;
}
.contact-form{
    border-style: solid;
    border-color: black;
    justify-content: space-around;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
/*Contact us */
.profile{
    border-style: solid;
    border-color: black;
    box-shadow: 4px 4px 20px black;
    border-radius: 20px;
    margin-bottom: 30px;
}
.inside-profile{
    margin: 5px;
}